h1 { margin:150px auto 30px auto; text-align:center;}
body {
	font-family: "Sansita" ,  serif;
        color :black;
}
hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/*  start navbar  */
.navbar-default {
	background-color: #101221;
	position: relative;
}

.navbar-default .navbar-nav>li>a {
	color: white;
    padding-right: 18px;
    font-size: 17px;
    line-height: 1.2;
}
.last_li {
	padding-right: 80px;
}
.first_nav {
	position: absolute;
}

.first_nav_span {
	background:3px dashed #fff;
	color: white;
}
/* end navbar */
/* start header */
 .head{
 	height: 587px;
	 background-image: url("../img/1.jpg");
	 background-size:cover;
	 -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     background-position: 50% 50%;
}

.abha  h1 {
	text-align: left;
	color: white;
	padding-left: 20px;

}
.abha p {
	color :white;
	 font-size: 18px; 
	 padding-top:20px;

}
.abha a {
	margin-left:15px; 
	width:100px;

}

.div1 {
	height: 1000px;
}
 /* end header  */

 /* start WE WRITE CODES!  */ 
 .first_section {
 	margin:0px;
 }

.w_w_c {
	color:black;
	text-align: center;
	position: relative;
}

.w_w_c_right {
	float:right;
	padding-top: 20px

}

.w_w_c_left {
	float:left;
	color:black;
	font-size: 18px;
	position: relative ; 
}

hr {
	color : black;
}
 /* end WE WRITE CODES!  */

 /* start our team  */
.team h1 {
	color: black ; 
	text-align: center ; 
	margin:12px;
}
.imgs {
	border-radius: 45%;
	height:200px;
	width:200px;
	margin-left: 40px;
	margin-top: 20px;
}
.team p {
	color : black;
	font-size: 26px;
	margin-left:60px;
}
.span {
	color:red ; 
	font-size: 16px; 
	margin-left:55px;
} 
.team .last_div {
	float: left;
	direction: left;
}
.footer {
	background-color: #101221;
	color:white;
	margin-top:20px;
	min-height:40px;
}
.footer h6 {
	text-align: center ; 
	font-size: 14px;
}
/*  end our team */